@import url('https://fonts.googleapis.com/css2?family=Roboto+condensed:wght@300&display=swap');
:root {
  --primary-white: #ffffff;
  --primary-light-grey: #f4f4f4;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
  --primary-orange: #f9ab00;
  --primary-dark: rgb(52, 58, 64);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-black: #000000;
  --primary-transparent-black: rgba(0,0,0,0.7);
  --primary-green: green;
}
 /************************Dashbord *************************/
 .main-page{
     margin-top: 20px;
 }
 .a-w-m {
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: left;
  }
  
  .a-i-m {
    width: 450px;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
  }
    .a-i-m1 {
        width: 450px;
        background: #ffffff;
        box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
        padding: 40px 55px 45px 55px;
        border-radius: 15px;
        transition: all .3s;
  }
/* ------------------------NAVBAR------------------------- */
nav {
    z-index: 2;
    padding-bottom:5px;
  }
  nav a.nav-link{
    /* font-weight: 500; */
    font-size: .8rem;
    letter-spacing:0.0375rem;
    cursor: pointer;
  }
 
  nav ul li {
    text-transform: uppercase;
  }
  
  .navbar-nav > li > a {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: var(--primary-white) !important;
    border-top: 0.1875rem solid var(--primary-white);
  }
 .navbar-brand > span {
     color: white !important;
  
  }
  @media(max-width: 768px) {
    .navbar-brand {
      width: 7rem;
    }
  }
  /* .navbar-nav > li > a.active, .navbar-nav > li > a:focus  {
    border-top:0.1875rem solid var(--primary-orange);
  }
  .navbar-nav > li > a:hover {
    border-top:0.1875rem solid var(--primary-orange); */
  /* } */
/*-------------------------- Sidebar------------------------------*/
  .sidebar {
    height:250px;
    width: 180px;
    background-color:  var(--primary-dark);
    color: var(--primary-white);
  }
  .sidebar li {
    font-size: 18px;
    text-decoration: none;
    padding: 5px;
    display: block;
  }

  .sidebar li {
    list-style: none;
  }

  .sidebar ul {
    margin: 5px;
    padding: 0;
  }
  .link-calor{
      color:var(--primary-white);
  }
.sd{
    margin-left:-10px;
}